<div class="mb-4 container" style="margin-top: 50px;">
    <div class="bg-white shadow rounded p-4">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="d-block">
                    <div class="d-flex justify-content-between align-items-center" style="padding-bottom: 5px;">
                        <div>
                            <span class="text-sm font-semibold text-indigo">Optimizing Business Operations</span>
                            <span class="category-tag">dynamic connection</span>
                        </div>
                        <span class="px-2 py-1 text-xs bg-grey text-grey bg-grey-hover"
                            style="font-size: medium; height: 32px; cursor: pointer;"
                            [routerLink]="['/workflow','dynamic']">Workflow</span>
                    </div>
                    <div style="display: flex; justify-content: space-between;">
                        <p class="text-sm text-gray">
                            <i class="fas fa-chart-line mr-1 text-gray"></i>
                            Global organization leverages department-specific data for continuous improvement.
                        </p>
                    </div>
                </div>
                <div class="filter-container">
                    <div>
                        <p>
                            By leveraging the dynamic connection string feature via an external API,
                            the Operations Manager and the Chief Business Officer (CBO) of an organization can
                            dynamically
                            change the data source to access department-specific data. The Operations Manager gains
                            insights
                            from customer support and administration to streamline operations, while the CBO utilizes
                            data from human resource and marketing to steer the company towards profitability.
                        </p>
                    </div>
                    <div class="filter-input d-flex justify-content-between">
                        <div class="row">
                            <div class="col-md-" style="width: 900px;">
                                <p class="text-gray">Below are the departments that the managers can access:</p>
                                <div class="form-group">
                                    <div style="display: flex;" (click)="identity='identity1'">
                                        <input type="radio" id="identity1" value="identity1"
                                             [checked]="identity === 'identity1'">
                                        <label style="padding-left: 10px;" for="Dashboard1">Andrew (Operations Manager) - Accounting, Administration, Customer Success and Customer Support</label>
                                    </div>
                                    <div class="display: flex;" (click)="identity='identity2'">
                                        <input type="radio" id="identity2" value="identity2"
                                             [checked]="identity === 'identity2'">
                                        <label style="padding-left: 10px;" for="Dashboard2">Bergs (Chief Business
                                            Officer)
                                            - Finance, Human Resources, IT and Marketing</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md dashboard-btn">
                                <button class="btn btn-primary mt-3 dashboardbtn"
                                    (click)="fetchBoldBISettings()">Load Dashboard</button>
                            </div>
                        </div>
                    </div>
                    <div class="py-4" *ngIf="dashboardContainer==true" id="dashboard3"
                        style="width:100% !important; height:800px"></div>
                </div>
            </li>
        </ul>
    </div>
</div>