<button type="button" class="btn btn-primary" (click)="goBack()"><span><img class="left-arrow" src="assets/left-arrow.png"></span><span>Back to sample</span></button>

<div *ngIf="this.filterType === 'datasource'" style="overflow: hidden;">
    <h3 style="display: flex; padding-top: 10px; justify-content: center; align-items: center;"><b>Flow Diagram - Datasource Filter</b></h3>
    <img src="assets/datasource-workflow.jpg" style="display: block; margin: 0 auto; width: 98%; height: 98%;" />
</div>
<div *ngIf="this.filterType === 'isolation'" style="overflow: hidden;"> 
    <h3 style="display: flex; padding-top: 10px; justify-content: center; align-items: center;"><b>Flow Diagram - Isolation Filter</b></h3>
    <img src="assets/isolation-workflow.jpg" style="display: block; margin: 0 auto; width: 85%; height: 100%;" />
</div>
<div *ngIf="this.filterType === 'dynamic'" style="overflow: hidden;">
    <h3 style="display: flex; padding-top: 10px; justify-content: center; align-items: center;"><b>Flow Diagram - Dynamic connection string</b></h3>
    <img src="assets/dynamic-workflow.jpg" style="display: block; margin: 0 auto; width: 98%; height: 92%;" />
</div>
