<div id="home" class="hidden container max-width py-4">
    <div class="mb-4">
      <h1 class="text-3xl font-bold" style="font-size:x-large;">Scenario based filter samples</h1>
</div>

<div class="mb-4 container-hover">
    <div class="bg-white shadow rounded p-4">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="d-block">
            <div class="d-flex justify-content-between align-items-center" style="padding-bottom: 5px;">
              <div>
                <span class="text-sm font-semibold text-indigo">Category Sales Manager</span>
                <span class="category-tag">data source</span>
              </div>
              <div class="d-flex px-2 py-1 text-xs bg-green bg-green-hover text-green"
               id="expandDatasource" style="cursor: pointer;">
                <span class="text-green" style="padding-right: 5px;"  routerLink="/datasource" (click)="selectCard(0)"> Explore sample</span>
              </div>
            </div>
            <div class="mt-2" style="display: flex; justify-content: space-between;">
              <p class="text-sm text-gray">
                <i class="fas fa-chart-line mr-1 text-gray"></i>
                Examine sales data for specific product categories according to the chosen region.
              </p>
              <span class="px-2 py-1 text-xs bg-grey text-grey bg-grey-hover"
                style="font-size: medium; height: 32px; cursor: pointer;" (click)="selectCard(0)" (click)="openWorkflow('datasource')" >Workflow</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="mb-4 container-hover">
    <div class="bg-white shadow rounded p-4">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="d-block">
            <div class="d-flex justify-content-between align-items-center" style="padding-bottom: 5px;">
              <div>
                <span class="text-sm font-semibold text-indigo">National Renewable Energy Laboratory (NREL)</span>
                <span class="category-tag">isolation</span>
              </div>
              <div class="d-flex px-2 py-1 text-xs bg-green bg-green-hover text-green"
               id="expandIsolation" style="cursor: pointer;">
                <span class="text-green" style="padding-right: 5px;"  routerLink="/isolation" (click)="selectCard(1)"> Explore sample</span>
              </div>
            </div>
            <div class="mt-2" style="display: flex; justify-content: space-between;">
              <p class="text-sm text-gray">
                <i class="fas fa-chart-line mr-1 text-gray"></i>
                Analyze power consumption across different sectors and assess its distribution.
              </p>
              <span class="px-2 py-1 text-xs bg-grey text-grey bg-grey-hover"
                style="font-size: medium; height: 32px; cursor: pointer;" (click)="selectCard(1)" (click)="openWorkflow('isolation')">Workflow</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="mb-4 container-hover">
    <div class="bg-white shadow rounded p-4">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="d-block">
            <div class="d-flex justify-content-between align-items-center" style="padding-bottom: 5px;">
              <div>
                <span class="text-sm font-semibold text-indigo">Optimizing Business Operations</span>
                <span class="category-tag">dynamic connection</span>
              </div>
              <div class="d-flex px-2 py-1 text-xs bg-green bg-green-hover text-green"
               id="expandDynamic" style="cursor: pointer;">
                <span class="text-green" style="padding-right: 5px;"  routerLink="/dynamic-connection" (click)="selectCard(2)" (click)="openHome('api')"> Explore sample</span>
              </div>
            </div>
            <div class="mt-2" style="display: flex; justify-content: space-between;">
              <p class="text-sm text-gray">
                <i class="fas fa-chart-line mr-1 text-gray"></i>
                Global organization leverages department-specific data for continuous improvement.
              </p>
              <span class="px-2 py-1 text-xs bg-grey text-grey bg-grey-hover"
                style="font-size: medium; height: 32px; cursor: pointer;" (click)="selectCard(2)" (click)="openWorkflow('dynamic1')">Workflow</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="mb-4 container-hover">
    <div class="bg-white shadow rounded p-4">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="d-block">
            <div class="d-flex justify-content-between align-items-center" style="padding-bottom: 5px;">
              <div>
                <span class="text-sm font-semibold text-indigo">Performance Review and Planning</span>
                <span class="category-tag">dynamic connection</span>
              </div>
              <div class="d-flex px-2 py-1 text-xs bg-green bg-green-hover text-green"
               id="expandDynamic" style="cursor: pointer;">
                <span class="text-green" style="padding-right: 5px;"  routerLink="/dynamic-connection" (click)="selectCard(2)" (click)="openHome('custom')"> Explore sample</span>
              </div>
            </div>
            <div class="mt-2" style="display: flex; justify-content: space-between;">
              <p class="text-sm text-gray">
                <i class="fas fa-chart-line mr-1 text-gray"></i>
                Nexus Insights uses dynamic connection strings to analyze past and projected data for strategic target setting.
              </p>
              <span class="px-2 py-1 text-xs bg-grey text-grey bg-grey-hover"
                style="font-size: medium; height: 32px; cursor: pointer;" (click)="selectCard(2)" (click)="openWorkflow('dynamic2')">Workflow</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="mb-4 container-hover">
    <div class="bg-white shadow rounded p-4">
      <ul class="list-group">
        <li class="list-group-item">
          <div class="d-block">
            <div class="d-flex justify-content-between align-items-center" style="padding-bottom: 5px;">
              <div>
                <span class="text-sm font-semibold text-indigo">Urban Heights Hotel</span>
                <span class="category-tag">web data source</span>
              </div>
              <div class="d-flex px-2 py-1 text-xs bg-green bg-green-hover text-green"
               id="expandDynamic" style="cursor: pointer;">
                <span class="text-green" style="padding-right: 5px;"  routerLink="/webdatasource" (click)="selectCard(3)"> Explore sample</span>
              </div>
            </div>
            <div class="mt-2" style="display: flex; justify-content: space-between;">
              <p class="text-sm text-gray">
                <i class="fas fa-chart-line mr-1 text-gray"></i>
                Maximizing Occupancy and Revenue Through Strategic Hospitality Management.
              </p>
              <span class="px-2 py-1 text-xs bg-grey text-grey bg-grey-hover"
                style="font-size: medium; height: 32px; cursor: pointer;" (click)="selectCard(3)" (click)="openWorkflow('webdatasource')">Workflow</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>


  

